@model TheMemorableMoments.UI.Models.Views.Recent.RecentIndex
@using TheMemorableMoments.Domain.Model.MediaClasses
@using TheMemorableMoments.Domain.Model.Recent
@using TheMemorableMoments.UI.Models.Views.Recent
@using TheMemorableMoments.UI.Web
@using TheMemorableMoments.UI.Web.Controls

@{ 
 ViewBag.Title = "Recent Uploads"; 
}

@section MainContent { 
<div id="userheader" >
        @(UserNavigationHelper.GetBreadCrumbs(Model.BreadCrumbs))
    </div>
		
        
    <div class="margintop50" >

       @foreach (RecentIndex.PhotoAgeFriendlyName photoAgeFriendlyName in Model.GetPhotoAgeCollection()) {
       List<RecentUploads> uploads = Model.GetRecentUploadsByPhotoAge(photoAgeFriendlyName.PhotoAge);
       
       @if (uploads.Count > 0){

       <div class="groupedphotoscontainer" >
       <h2 class="grouptitle" >@(photoAgeFriendlyName.Name)</h2>
       <label class="count"> @(uploads.Count) photo(s)</label>
		<ul class="groupedphotos">		
        @{ string key = Model.SetPersistentCollection(photoAgeFriendlyName.PhotoAge.ToString(), uploads);}
  				
			@foreach (RecentUploads media in uploads){
                <li>
                 <span class="image">
					<a name="@(media.MediaId)" class="showimage lightbox" rel="@(Model.GetImageSrc(media, PhotoType.Websize))" href="@(Model.UrlService.UserUrl("photos/show/" + key + "/#/photo/" + media.MediaId))" title="@(media.Title)"> 
						<img src="@(Model.GetImageSrc(media, PhotoType.Thumbnail))" 
                        @((string.IsNullOrEmpty(media.Title) ? string.Empty : "title=\"" + media.Title + "\"")) alt="Title #0" /> 
					</a> 
                  </span> 
				</li>  
                                             
            }

            
       </ul>
        <br class="clearboth" />
        </div>
       }
      }
      
    </div> 
}

@section head { 
<style type="text/css"> 
            @import url("/Content/css/recent/index.css");    
            img{ max-height:@(Model.Authorization.Owner.Settings.WebViewMaxHeight)px; max-width:@(Model.Authorization.Owner.Settings.WebViewMaxWidth)px; }            
        </style> 
    
    <script language="javascript" type="text/javascript">
       var maxHeight = @(Model.Authorization.Owner.Settings.WebViewMaxHeight);
       var maxWidth = @(Model.Authorization.Owner.Settings.WebViewMaxWidth);
       var username = "@(Model.Authorization.Owner.Username)";    
    </script>

    <script language="javascript" type="text/javascript" src="/Scripts/pages/recent/index.js"></script>
    <script language="javascript" type="text/javascript" src="/Scripts/Controls/jTagCloud.js"></script>
    <script language="javascript" type="text/javascript" src="/Scripts/Controls/jquery.jnotifica.min.js"></script>
    <script language="javascript" type="text/javascript" src="/Scripts/controls/jquery.timeago.js"></script> 
}

@section pageHeader { 
@(Model.Authorization.Owner.DisplayName) 
}

@section navigation { 
@(Html.SiteNavigation(Model.Authorization)) 
}
