@model TheMemorableMoments.UI.Models.Views.Photos.ManagePhotosView
@{ Import Namespace="TheMemorableMoments.UI.Web"}
@using TheMemorableMoments.UI.Web.Helpers

@{ 
 ViewBag.Title = "manage photos - @(Model.Authorization.Owner.DisplayName)"; 
}

@section pageHeader { 
@(Model.Authorization.Owner.DisplayName) 
}

@section navigation { 
@(UserNavigationHelper.GetUserNavigation(Model.Authorization)) 
}

@section MainContent { 
<div id="userheader">
			@(UserNavigationHelper.GetBreadCrumbs(Model.BreadCrumbs))
	</div>
	
	 <div class="nav"> 
		<ul style="float:right;" >
           @(Model.RenderManageTabs())
 			<li><a href="/@(Model.Authorization.Owner.Username)/comments">Comments</a></li> 
		</ul> 
		<br class="clearboth" />
	</div>    

        @{ Html.RenderPartial(Model.PartialView, Model);}
	
     
        @(Html.Message(Model.UIMessage)) 
}

@section head { 
<script language="javascript" type="text/javascript" src="/Scripts/Controls/jquery.autosearch.min.js"></script>
	<script language="javascript" type="text/javascript" src="/Scripts/Controls/FancyBox/jquery.fancybox-1.3.1.js"></script>
	<script language="javascript" type="text/javascript" src="/Scripts/Controls/Dialog/jquery-ui-1.8.1.dialog.min.js"></script>
	<script language="javascript" type="text/javascript" src="/Scripts/Pages/common.js"></script>
	<script language="javascript" type="text/javascript" src="/Scripts/Pages/Photos/index.js"></script>
	
	<script type="text/javascript">
	   var username = "@(Model.Authorization.Owner.Username)";
	   var maxHeight = @(Model.Authorization.Owner.Settings.WebViewMaxHeight);
	   var maxWidth = @(Model.Authorization.Owner.Settings.WebViewMaxWidth);	  
       var message = '@(Model.UIMessage)';  
	</script>

	<style type="text/css">
		@import url("/Content/css/photos/index.css");
		@import url("/Content/css/controls/jquery.autosearch.css");  
		@import url("/Content/css/controls/jquery.fancybox-1.3.1.css"); 
		@import url("/Content/css/controls/jquery-ui-1.8.1.custom.css");
	</style>

	<style media="all" type="text/css">
		img{ max-height:@(Model.Authorization.Owner.Settings.WebViewMaxHeight)px; max-width:@(Model.Authorization.Owner.Settings.WebViewMaxWidth)px;}
	</style> 
}
