<html>
<head runat="server">
    <title> @ViewBag.Title  @RenderSection("mastertitle", required: false) </title>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
        try {
        var pageTracker = _gat._getTracker("UA-191406-4");
        pageTracker._trackPageview();
    } catch (err) { }


    $(document).ready(function () {

        $('a#signin').click(function (e) {
            e.preventDefault();
            $('#dialog-form').dialog('open');
        });

        $("#dialog-form").dialog({
            autoOpen: false,
            height: 250,
            width: 290,
            modal: true,
            buttons: {
                'login': function () {
                    $('form#loginform').submit();
                }
            }
        });
    });
    </script>

    @RenderSection("head", required: false)
    
</head>

<body>
    <div class="page">
    <div class="siteheader" style="border-bottom:1px dashed #999;padding:5px;height:12px;" >
        <div class="navigation" style="margin-left:auto;margin-right:auto;width:1001px;" >
        <span style="text-transform:lowercase;" >@RenderSection("pageHeader", required: false)</span>
                <form >
                    <p><label>Password</label><input id="Password" name="Password" style="width:250px;" maxlength="150" type="password" /></p>                
                    <p><input class="normalwidth" id="RememberMe" name="RememberMe" type="checkbox" value="true" /><input name="RememberMe" type="hidden" value="false" /> <label style="display:inline;"  for="rememberMe">Remember me?</label></p>
                </form>
            </div>
        </div>
    </div>
    	<div id="body"> 
        @RenderSection("navigation", required: false)   	
            @RenderSection("MainContent", required: false)
            <div class="clearboth" ></div>
        </div>
    <div id="footer" >copyrighted &#169; 2010 by <a href="http://www.thememorablemoments.com/" title="go to the homepage" >the memorable moments</a>. photos are copyrighted by their respective copyright holders.</div>
</body>
</html>
